ul.tags li {
    display: inline-block;
    margin-right: 5px;
    background-color: #e0dbbf;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 1px;
    font-size: 85%;
    margin-bottom: 8px;
}
ul.tags a {
    text-decoration: none;
}
ul.tags a:hover {
    color: white;
}
ul.tags {
    padding-left: 0;
    margin-bottom: -8px;
}