section.current-status {
    word-wrap: break-word;
}
section.current-status .time {
    font-size: 85%;
}
section.current-status .history {
    margin-top: 10px;
    font-size: 85%;
    margin-bottom: 0;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
}