<article {% if event.repertoire %}class="tall"{% endif %}>
    <div class="date">{{ event.startDateFormatted }}{% if event.endDateFormatted %} &ndash; {{ event.endDateFormatted }}{% endif%}{% if event.time %}, {{ event.time }}{% endif %}</div>
    {% if headingLevel > 0 %}
    <h{{ headingLevel }}>{{ event.title }}</h{{ headingLevel }}>
    {% else %}
    <h3>{{ event.title }}</h3>
    {% endif %}
    {% if event.repertoire %}<small>{{ event.repertoire | lineBreaksToBr | safe }}</small>{% endif %}
    {% if event.location %}<div>{{ event.location }}</div>{% endif %}
    {% if event.role %}<div class="role">{{ event.role }}</div>{% endif %}
</article>