---
layout: main
pageTitle: About me
eleventyNavigation:
  key: About me
  order: 2
---

<h3>My &ldquo;musician&rdquo; biography</h3>
<p>{% responsiveImage "images/dan/2011-medway-festival.jpg", "Dan at the Medway Festival 2011 with a lot more hair than he now has", "float-right", 150 %}Dan Soper is a full-time Software Developer and a freelance organist. He made the move into software development in 2016 after 11 years as an Assistant Director of Music (9 of which were in Cathedrals) and amateur developer.</p>
<p>Dan&rsquo;s interest in Cathedral music started when he was chorister at Canterbury Cathedral, where he finished as Deputy Head Chorister, but he was prevented from learning the organ at that time for being too short. His education continued at Trinity School in Croydon, with Organ Scholarships at Croydon Parish Church, Chelmsford Cathedral and Corpus Christi College, Cambridge, where he read music.</p>
<p>During his time at Cambridge, Dan was responsible for the chapel choir, recording a CD, &lsquo;Regina Caeli&rsquo;, and touring to Prague. There he also met Kat(herine), and wrote his first program&mdash;an online diary system for Chelmsford Cathedral. He spent a year after graduating at Winchester College as Assistant Organist, working with the Quiristers.</p>
<p>From 2006 to 2010, Dan was Assistant Director of Music at Rochester Cathedral, where his responsibilities included the Girls&rsquo; Choir, service accompaniment and the music library, as well as departmental administration. He was involved as an organist, director or cowbell player on three Songs of Praise programmes, two Radio 3 Choral Evensong broadcasts, three CD recordings and one Classic FM broadcast. When the Cathedral music department was restructured in 2008, the ADoM job became part-time, and he took on responsibility for the Cathedral&rsquo;s IT and website; he continued in this IT role when he moved to Dartford Parish Church as Assistant Director of Music, where he spent a year whilst trying a freelance IT and music career.</p>
<p>Having failed to achieve the work balance for which he was hoping, he was delighted to be appointed as full-time Assistant Director of Music at St Edmundsbury Cathedral in 2011, where he enjoyed accompanying on the newly refurbished glorious Harrison &amp; Harrison organ, including for two Radio 3 broadcasts and one CD recording. He also directed the St Edmundsbury Singers and had responsibility for visiting choirs and lunchtime recitals. His time at the Cathedral was one of significant personal developments: he became a driver in 2012, married Kat in 2014 and became a Fellow of the Royal College of Organists in 2015.</p>
<p>As a freelance musician, Dan&rsquo;s 2022 involves playing the organ at or directing visiting choirs at Bradford, Guildford, Rochester, St Albans, St Edmundsbury, St Paul&rsquo;s, Truro and Worcester Cathedrals. When he&rsquo;s not working, Dan enjoys doing more work (both with music and with computers), proof-reading, completing things, cycling and looking after 6-year-old Emily.</p>
<p class="sidenote">If you are looking for a biography for me, feel free to use the above, and cut it down as appropriate. Or feel free to ask me for one!</p>

<h3>As a developer</h3>

<p>I have been making websites since 1998, and web programs since 2003. Back then, online learning resources weren&rsquo;t great, and nor were the things I was creating.</p>
<p>I became a professional developer in 2016, and in my day-to-day development I enjoy using C# with ASP.NET Core, with Angular. Many other frameworks/libraries feature in smaller projects, including React and Vue.js. In my home projects, I often use PHP (often Laravel) as my home computers aren&rsquo;t great at building .NET Core apps.</p>
<p>I also enjoy becoming an expert in the core technologies&mdash;HTML, CSS and JavaScript&mdash;although my wish to <i>complete</i> things makes it hard to cope with the fact that these technologies are continually developing and their specifications are never final!</p>
<p>I&rsquo;m a methodical and dedicated problem solver, with a keen eye for detail and appreciation of the importance of good UI/UX design. I&rsquo;m not in the market for a new job (I have been at Victoria Forms since April 2016 and have no plans to move on) and at the moment I don&rsquo;t have time to take on any home side projects.</p>
