---
pageTitle: Contact me
eleventyNavigation:
  key: Contact
  order: 8
---

<p>If you'd like to email me, my address is dansoper, followed by an at symbol, followed by cantab.net. Without that last full stop.</p>

<p class="sidenote">I used to have a nice contact form on this page, but couldn&rsquo;t stop the spam, so I just removed it.</p>