---
pageTitle: Frequently Asked Questions (Career change 2016)
---

<p><i>This page was written in February 2016 when I announced I was changing career. It&rsquo;s not that relevant any more, but I have kept it up just in case.</i></p>

<p>I have a new job! &nbsp;In a few months I will be leaving my post at the Cathedral to become a Trainee IT Technician and Developer at Victoria Forms, an IT company in Bury St Edmunds.</p>
<p>This may come as a surprise, so I&rsquo;ve put together this FAQs page to help you through the change.</p>
<p class="highlight">Isn&rsquo;t this quite a big change?</p>
<p class="indent">It certainly is! But it&rsquo;s one that has been on the horizon for quite a while. I interviewed for an IT position (at Canterbury Cathedral) in November 2014. Since then I haven&rsquo;t been actively applying for jobs constantly, but I have had frequent doubts of my career choice and have kept an eye out for potential alternative career paths.</p>
<p class="highlight">Weren&rsquo;t you enjoying your current job?</p>
<p class="indent">There&rsquo;s lots I enjoy about this job, but there are lots of things that frustrate me. It&rsquo;s probably best not to mention those here.</p>
<p class="highlight">What&rsquo;s wrong with Cathedral Music?</p>
<p class="indent">The pessimist in me believes that Cathedral Music in at least some of our Cathedrals will be extinct before the end of my working life. Of course this might not be true, but it feels like the ‘Cathedral Music&rsquo; ideal I have in my mind is being constantly eroded. Declining CofE congregation numbers, leading to declining finances, combined with fewer clergy that understand what I understand as Cathedral Music and a constant need for change rather than a love of tradition are continual worries for me.</p>
<p class="highlight">Is it someone&rsquo;s fault?</p>
<p class="indent">No. Maybe mine. For trying to set standards or customs, and trying to impose a level of detail that&rsquo;s not achievable.</p>
<p class="highlight">Didn&rsquo;t you already try a career in IT for a year?</p>
<p class="indent">I did leave a similar position in Rochester in 2010 in order to try a freelance career in IT/music, but I never found myself an IT job (I did interview for a couple, as well as a Music Theory job at ABRSM). Instead I found myself making music at Dartford Parish Church, and this easily took up most of my time. For this reason, the experiment was a failure and, as I was missing Cathedral Music, I moved to St Edmundsbury Cathedral. In this instance I&rsquo;m leaving for a job I&rsquo;ve already been offered!</p>
<p class="highlight">But there&rsquo;s X musical job round the corner—that would be perfect for you!</p>
<p class="indent">There are many people in my position looking for a move, and most of them are more skilled than me in &rsquo;proper&rsquo;&nbsp;music making. &nbsp;I&rsquo;m good at accompanying, especially Psalms and Hymns, and I can do liturgical improvisation, but I can&rsquo;t play you some of the core organ repertoire.</p>
<p class="highlight">Didn&rsquo;t you re-commit to Cathedral Music in the Summer?</p>
<p class="indent">Yes, when I passed FRCO I was delighted and decided to give it another chance, as I&rsquo;d finally proved that I was ‘good&rsquo;. &nbsp;But a combination of events on one Sunday in October made me realise that there were frustrations with this sort of job and they were never going to go away.</p>
<p class="highlight">But you only just passed FRCO. &nbsp;Is that now wasted?</p>
<p class="indent">Only partly! Who knows when it will be useful in the future...&nbsp;</p>
<p class="highlight">Does this mean you&rsquo;ll stop playing the organ?</p>
<p class="indent">Definitely not. At the very least I will play for visiting choirs (e.g. the Lynwood Singers and Sanderstead Singers). I&rsquo;m sure other opportunities will arise. And there's a chance that once it becomes more of a hobby, I may do more organ practice in my free time!</p>
<p class="highlight">Won&rsquo;t you miss some of your job?</p>
<p class="indent">I&rsquo;ll certainly miss accompanying Psalms, and playing the gorgeous H&amp;H. But I won&rsquo;t miss getting frustrated, and the effect that has on my home time.</p>
<p class="highlight">What about your living arrangements?</p>
<p class="indent">Kat and I have recently had an offer accepted on a house in Bury St Edmunds (you must come and stay, etc.), so hopefully that will all work out in time.</p>
<p class="highlight">Is there anything I can do to change your mind?</p>
<p class="indent">Of course not. I have thought long and hard about this.</p>
<p class="highlight">So what will you be doing in your new job?</p>
<p class="indent">The first thing is to gain expertise in the company&rsquo;s application software and the language it is built in. Then I&rsquo;ll be contributing to a variety of projects at the company. &nbsp;Victoria Forms specialises in Electronic Forms, and their software is used by 1 in 5 UK Councils across the country.</p>
<p class="highlight">And when does the new job start?</p>
<p class="indent">I will probably start in April, but keep playing the organ at the Cathedral until July.</p>
<p class="highlight">OK. Good luck!</p>
<p class="indent">Thanks.</p>