---
pageTitle: Welcome
includeHighslide: true
eleventyNavigation:
  key: Home
  order: 1
---
{% set randomImage = meImages | random
%}

<p class="highlight">{% responsiveImage randomImage.src, randomImage.alt, "float-left", 250 %}<strong>Welcome to my website!</strong></p>

<p>I am a full-time Software Developer, and have worked at <a href="https://www.speedybooker.com">SpeedyBooker</a> since September 2024 (and before that at <a href="http://www.victoriaforms.co.uk/">Victoria Forms</a> from April 2016).</p>
<p>As a former Assistant Director of Music at St Edmundsbury and Rochester Cathedrals, I enjoy working with various choirs in my free time, including as organist for The Lynwood Singers and Cantus, and as director of Sanderstead Singers.</p>
<p>If you&rsquo;d like to read about my transition from Cathedral Music to IT, just put <b>/faqs</b> in the address bar, after the domain.</p>
<p>This website contains a <strong>Music</strong> and an <strong>IT</strong> section to help categorise the things I want to say. None of it is of any worth, but I put it all here just in case you are interested. More recently, I have added a <strong>Blog</strong> (for my random long-form thoughts) and a section on my project to visit <strong>Stations</strong>.</p>
<p>I&rsquo;ll try and keep this site up to date. Please let me know if I have failed.</p>
<p><em>Dan Soper<br /></em><em>October 2024</em></p>
<small>Website last updated: {% gitLastCommitDate %}</small>