---
layout: 
---


<!DOCTYPE html>
<html>
<head>
    <title>KSB26-DS347-20</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Square+Peg" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau:ital@0;1&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Ysabeau;
            background-color: #493657;
        }
        h1, h2 {
            font-family: "Square Peg";
            line-height: 1;
            margin-bottom: 15px;
        }
        h1 { 
            font-size: 4em;
            text-align: center;
            color: white;
        }
        h2 {
            font-size: 3em;
            margin-top: 0;
        }
        .center {
            text-align:center;
        }
        .white {
            color: white;
        }
        section {
            background-color: #FFD1BA;
            padding: 16px;
            border-radius: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        section > div {
            border: 2px solid #DFF3E3;
            background: white;
            padding: 20px;
            border-radius: 25px;
            margin-left: -8px;
            margin-right: -8px;
            margin-bottom: 10px;
        }
        section > div:last-child {
            margin-bottom: -6px;
        }
        .box {
            border: 2px solid lightgrey;
            padding: 5px;
        }
        .small {
            font-size: 80%;
        }
        .md {
            border-radius: 10px;
            padding: 4px 8px;
            border: 2px solid #BEE5BF;
            max-width: 80%;
            clear: both;
            float: left;
            margin-top: 4px;
        }
        .mk {
            margin-left: auto;
            border-radius: 8px;
            padding: 4px 8px;
            border: 2px solid #CE7DA5;
            max-width: 80%;
            clear:both;
            float: right;
            margin-top: 4px;
        }
        .t {
            text-align: center;
            color: #888;
            font-size: 85%;
            margin-top: 4px;
            clear:both;
        }
        .r {
            text-align:right;
        }
        .end {
            clear:both;
        }
    </style>
</head>
<body>

<h1>Celebrating 20 years together</h1>
<p class="center white">ksb26 - ds347 - 8 November 2003</p>


<section>
<h2>Our first emails</h2>

<div>
    
<div class="box">From:	K.S. Beddus <span class="small">(ksb26@cam.ac.uk)</span>
<br>To:	Soper Daniel <span class="small">(ds347@cam.ac.uk)</span>
<br>Date:	11 Dec 2002, 22:02
<br>Subject:	hi!</div>

<p>hi dan!</p>

<p>did you get home ok?had forgotten that you were coming back after you left 
on sat. morning-would have given you ur xmas card!friday was such as 
bizarre night. can't believe that Tarik is ur supervisor-that's so 
wierd!!!!</p>

<p>what's it like chez soper?quite wierd at first chez beddus especially on 
sunday when i first got back coz i was still full of corpus. bt now i'm 
enjoying it as its just back to normal.have even done some work!!!have you 
got much 2 do over xmas?can't really envisage myself ever not working at 
this rate. that may have something 2 do with the fact that i keep waking up 
at 12-no lectures woo-hoo!</p>

<p>anyway, have a great xmas-don't drink 2 much [who am i 2 say that 2 
u!!!]and looking forward 2 seeing you in the new year. any more progress on 
the 'dan's noises' c.d?i'm eagerly awaiting it!!!</p>

<p>lv katxxx</p>
</div>

<div>

<div class="box">From:	K.S. Beddus <span class="small">(ksb26@cam.ac.uk)</span>
<br>To:	Soper Daniel <span class="small">(ds347@cam.ac.uk)</span>
<br>Date:	14 Dec 2002, 17:21
<br>Subject:	how rude!</div>

<p>well...</p>

<p>i'm not going 2 get annoyed about the fact that u haven't replied. not at 
all. i'm GLAD that you didn't reply. ha ha.</p>

<p>bt i shall carry on the correspondence anyway, in the hope that it might 
prompt you onto action. ie replying! the director of music at sheffield 
cathedral asked me to sing with them on wednesday when they're doing a live 
broadcast for radio 3. so if u fancy it listen 2 that, its at 4 this 
wednesday. we're doing the tavner coll reg and nicholas responses, some 
anthem and a piece by sandstrom [think its using the 'es ist ein ros 
utsprungen' bach type thing] could all sound terrible if they've had 2 ask 
people 2 help, bt then could be quite entertaining!</p>

<p>hope ur having a gd time</p> 

<p>lv katxxx</p>

</div>

<div>

<div class="box">From:	Daniel Soper <span class="small">(mail@djsoper.co.uk)</span>
<br>To:	K.S. Beddus <span class="small">(ksb26@cam.ac.uk)</span>
<br>Date:	14 Dec 2002, 23:04
<br>Subject:	Re: hi! / how rude!
</div>

<p>Hi Kat!</p>

<p>Yes I got home fine thanks.  You might remember that the reason I went home
sat morning was to fix Croydon Parish Church organ.  I did, so that was
good.  It had another fault today, so I went to fix that this morning
although it was fixed by the time i got there.  bit of a waste of an hour,
if you ask me.</p>

<p>Sorry i didn't reply sooner.  It would be a lie to say that i've only just
connected my computer.  I did it on thursday - almost a week without my
computer - very good!  I'm not sure why I didnt reply - i just always found
something more important to do. To say you weren't important would be rude
and incorrect. Sorry!  But enough of this depression - I'm replying now!</p>

<p>My house was more or less how I left.  Except they've built a new lynch gate
at the front cos the other was falling apart.  My bedroom was full of other
peoples' stuff, but a few days saw it all returning to the correct rooms so
its ok now.  We got the Christmas tree out today.  It was really hard work
to get it out of the loft hatch cos a whole year's worth of junk had got in
there which I had to take out first.  Then i had to assemble the tree.  We
got a new one last year and I didnt put it together cos I was in Chelmsford
so i did it myself this year which was fun.  Not fun.... boring.  And now
abbie is here so my brother is decorating it.</p>

<p>Yes i will try and listen to you on radio.  Keep reminding me!  I was on
last year, although i was only turning pages.  But i did do a solo on it in
1996 from Canterbury - you should have listened but you didnt know me.
Never mind.</p>

<p>Tomorrow is Sunday! that means church.  In the morning I'm playing at my
dad's new church and in the evening I'm going to the carol service at
Croydon Parish Church.  During the day some builder man is coming to measure
up for our extension which will be fun.</p>

<p>So how is life so far?  Done anything really interesting?  You said you were
going to france with organ scholar of the cathedral?  When is that? Whats
going on there then???!!!!  None of my business, but who cares.</p>

<p>Please dont be as tardy as me in replying! I love emails and I'll promise to
try and reply as soon as I can.</p>

<p>Hope you're ok.</p>

<p>cya dan</p>
</div>
</section>

<section>
<h2>The prologue</h2>

<div>
<div class="box">MSN Messenger
    <br>Date: Sunday 15 June 2003 (i.e. Saturday night)
    <br>Between: Dan <span class="small">(d_soper@hotmail.com)</span>    
    <br>And: es ist fertig, e finito, c'est finis! <span class="small">(kag_b@hotmail.com)</span>  
</div>

<div class="t">2.03am</div>
<div class="md">good morning kat!</div>
<div class="mk">hi dan<br>how2 ru</div>
<div class="md">great thanks<br>u?</div>
<div class="mk">am a bit itnoxitaded</div>
<div class="md">thats fine well done<br>i must write that word down</div>
<div class="t">2.04am</div>
<div class="mk">he hehe<br>am ware that that word makes no sense</div>
<div class="md">but its fine cos i know what it means</div>
<div class="mk">r u  ok tho dan?</div>
<div class="t">2.05am</div>
<div class="mk">have not ta;kled 2 u since u were upset</div>
<div class="md">yeah im ok<br>i've got to the point where i realise i dont actually
    miss her<br>just miss not being in a relationship</div>
<div class="t">2.06am</div>
<div class="mk">yeah i can understand that<br>bt think that u made the right decision</div>
<div class="t">2.07am</div>
<div class="md">you think...?</div>
<div class="mk">if thats not 2 rude<br>as a friend</div>
<div class="md">its not too rude<br>several people have said...</div>
<div class="t">2.08am</div>
<div class="mk">...?</div>
<div class="md">... that it was the right decision</div>
<div class="mk">well, from what u have said<br>it seems like that to me</div>
<div class="t">2.09am</div>
<div class="mk">bt i have never been in a long term
    relationship b4</div>
<div class="t">2.10am</div>
<div class="md">in many ways thats better</div>
<div class="mk">whats better?<br>never 2 have bn in a relationship?</div>
<div class="t">2.11am</div>
<div class="md">not having a long term rela...<br>yes</div>
<div class="mk">no i don;t thinkso</div>
<div class="t">2.12am</div>
<div class="mk">mayb thats coz i'm jealous</div>
<div class="md">you could have a long term relationship if you wanted
    one</div>
<div class="t">2.13am</div>
<div class="mk">thats not true<br>no one likes me</div>
<div class="md">(opportunity...) I like you</div>
<div class="mk">really?</div>
<div class="md">yes i really do</div>
<div class="t">2.14am</div>
<div class="mk">can i come round 2 02 to talk 2 u?am wasted
    but at the same time know what i feel if u see what i
    mean?</div>
<div class="md">well</div>
<div class="t">2.15am</div>
<div class="md">i might just have to get dressed</div>
<div class="mk">sorry dan, don;'t have 2 id u don't want me
    2</div>
<div class="md">really i dont mind.  i would be happy if you came
    round</div>
<div class="mk">am wearing wierd gin & tonic costume</div>
<div class="t">2.16am</div>
<div class="md">oh yeah!<br>phil told me</div>
<div class="mk">he he he<br>can i come round then or not?</div>
<div class="md">yeah but count to 60  before you leave</div>
<div class="mk">ok can do</div>
<div class="t">2.17am</div>
<div class="mk">will b round in a bit</div>
<div class="t">2.18am</div>
<div class="md">cool</div>
<div class="mk">c u in a while</div>
<div class="t">2.19am</div>
<div class="mk">lord knows how long it will take me 2
    descend I staircase</div>
<div class="md">he he good luck</div>
<div class="mk">he he he</div>
<div class="t">2.21am</div>
<div class="mk">right am on my way<br>are you less bed clothed now?</div>
<div class="md">indeed!</div>
<div class="t">2.22am</div>
<div class="mk">right c u snxxx</div>
<div class="end"></div>


</div>


<div><p><i>I don't remember what the conversation contained, but I know (from other MSN chats) that we
    agreed we wanted to be together but would wait until September as it was nearly the end of term.</i></p>
    <p><i>But on Wednesday 18 June morning, you texted and asked for a chat; in that chat, you suggested we should just stay friends.</i>
</div>

</section>

<section>
<h2>Leading to the main event</h2>

<div>

<div class="box">MSN Messenger
    <br>Date: Saturday 25 October 2003
    <br>Between: Dann <span class="small">(d_soper@hotmail.com)</span>    
    <br>And: kat <span class="small">(kag_b@hotmail.com)</span>  
</div>

<div class="t">4.33pm</div>
<div class="md">im going to johns evensong today</div>
<div class="t">4.34pm</div>
<div class="mk">oh thats right.what are they doing do you know?</div>
<div class="md">howells st pauls<br>and brahms geistliches lied</div>
<div class="mk">ahhhhhhhhhh love the howells</div>
<div class="t">4.35pm</div>
<div class="md">well you're very welcom</div>
<div class="mk">bt i have to watch popidol</div>
<div class="md">!</div>
<div class="mk">he he not very different!</div>
<div class="md">priorities!</div>
<div class="end"></div>

<p><i>Then there was some chat about upcoming Corporate Communion dinner, then your
    email problems, then you had to go to write an essay.</i></p>
    
<p><i>Later on, you had sent an email to remind the choir that the clocks changed,
    2 hours after I had already done so, so there was a chat about that.</i></p>

    <div class="box">MSN Messenger
        <br>Date: Saturday 25 October 2003
        <br>Between: Ddan <span class="small">(d_soper@hotmail.com)</span>    
        <br>And: kat <span class="small">(kag_b@hotmail.com)</span>  
    </div>
    
<div class="t">11.54pm</div>
<div class="mk">so how was evensong?</div>
<div class="md">oh wow it was good</div>
<div class="t">11.55pm</div>
<div class="mk">as good as popidol?</div>
<div class="md">some excelelnt moments<br>maybe!<br>can i book you?<br>im also going to try the whole choir<br>in 2 weeks</div>
<div class="mk">for what?</div>
<div class="md">they are doing howells gloucester<br>and britten rejoice in the lamb<br>i think that would be great</div>
<div class="mk">ahhhhhh love that.oh wow<br>that sounds so good.saturday yes?</div>
<div class="t">11.56pm</div>
<div class="md">sat 8th<br>ye<br>s</div>
<div class="mk">well think probably.you don;t really have to book tho</div>
<div class="md">why<br>you might agree to pop idol etc<br>or something just as blashpheming<br>whatever the word is</div>
<div class="t">11.57pm</div>
<div class="mk">oh i see.well i think it might just be better unless its the finals bt i doubt it</div>
<div class="t">11.58pm</div>
<div class="md"><br>obsessed></div>
<div class="mk">well its that kind of programme!you do get obsessed</div>
<div class="md">oh dear<br>never mind</div>
<div class="end"></div>

<p><i>Then there was a discussion about the fact it was time to go to bed and about what the music was tomorrow.</i></p>

</div>


<div>
<div class="box">

From: Dan Soper <span class="small">(ds347@cam.ac.uk)</span>
<br>To: Corpus Choir
<br>Date: Thu, 6 Nov 2003, 18:10
<br>Subject: Choir Email no. 5b
</div>

<p>Just two things.....</p>

<p>1. Helen Sinclair is suggesting that someone in the choir may have stolen
her gown.  Could you all just check that you have your own.</p>

<p>2. As I mentioned, 6.30pm at John's on Saturday is going to be a superb
musical feast.  If you are interested, let me know, and we can sit together
(instead of spread about as individual loners).</p>

<p>Thanks,</p>

<p>Dan</p>

<p>---------------------
<br>DANIEL SOPER, ARCO
<br>Senior Organ Scholar
<br>Corpus Christi College, Cambridge, CB2 1RH
<br>Tel: 01223 339206, Mob: 07974 379807
<br>Email: dansoper@cantab.net</p>
</div>

</section>

<section>
    <h2>The day we got together</h2>

    <div>
<div class="box">From:	T. Foley <span class="small">(tf221@cam.ac.uk)</span>
    <br>To:	Corpus Choir
    <br>Date:	Sat, 8 Nov 2003, 12:29
    <br>Subject:	Je prend le toureau par les cornes...</div>
        

<p>Yo yo,</p>

<p>so John's tonight? Sorry if anyone doesn't give a monkey's arse about 
evensong tonight. Can I suggest we meet at 6.10 at the porters lodge? 
Remember your gowns! After that Mr Chetwynd and I are maybe planning to go 
for a Thai meal at the Hopbine (a pub - great value, excellent food! The 
Thai Green curry is second to none). If anyone's up for that would be good 
to have you along.</p>

<p>Anyway, see you later,</p>

<p>thos</p>

</div>

<div>
    <div class="box">MSN Messenger
        <br>Date: Saturday 8 November 2003
        <br>Between: Make me happy <span class="small">(d_soper@hotmail.com)</span>    
        <br>And: kat fawkes <span class="small">(kag_b@hotmail.com)</span>  
    </div>

    <div class="t">12.17pm</div>
    <div class="mk">oi dan are you there?</div>
    <div class="t">12.18pm</div>
    <div class="md">"oi"!</div>
    <div class="mk">well i sent you a text and you didn;t reply<br>therefore slightly rude welcome</div>
    <div class="md">well recently woke up</div>
    <div class="mk">ahha</div>
    <div class="t">12.19pm</div>
    <div class="mk">i've been up since 9 bt have only just started work, which is obviously going really well</div>
    <div class="md">yeah!<br>so 5 - 9 sleep<br>well done</div>
    <div class="mk">terrible terrible</div>
    <div class="t">12.20pm</div>
    <div class="mk">plus essay football and evensong<br>i wonder which one is going 2 suffer?</div>
    <div class="md">he he well essay im sure</div>
    <div class="mk">well i think you may be right</div>
    <div class="t">12.21pm</div>
    <div class="mk">so yeah whats going on this evening?i need to work as much as possible between 3 and whenever evensong is</div>
    <div class="md">evensong is 6.30</div>
    <div class="mk">(obviously not away)<br>oh yeah</div>
    <div class="md">why dyou do that</div>
    <div class="mk">so i don't get into any more conversations</div>
    <div class="t">12.22pm</div>
    <div class="md">i se<br>e</div>
    <div class="mk">i really need to work!</div>
    <div class="md">poor kat<br>http://www.rscm-eel.org.uk<br>(old)<br>http://www.rscm-eel.org.uk/new/<br>(new)</div>
    <div class="mk">so,when are we meeting/who else where etc</div>
    <div class="md">its just Katie i think</div>
    <div class="mk">i've already seen them dan</div>
    <div class="md">and say corpus 6.10</div>
    <div class="t">12.23pm</div>
    <div class="mk">ok right well i'll see how much i'm working and might come and see you if i'm not slightly before 6.10<br>depending on if i get inspiration!</div>
    <div class="t">12.24pm</div>
    <div class="mk">(should i change my name?its a bit past the 5th now?)</div>
    <div class="md">yes you should</div>
    <div class="t r">kat kristmas</div>
    <div class="mk">there we go</div>
    <div class="md">ah well</div>
    <div class="t">12.25pm</div>
    <div class="mk">is that the right spelling?</div>
    <div class="md">yes its perfekt</div>
    <div class="mk">he he he<br>oh dear i should never have started talking to you.i really should go</div>
    <div class="md">oh dear</div>
    <div class="mk">but i'll prob come and see you before the official 6.10 meeting time</div>
    <div class="md">smile!</div>
    <div class="t">12.26pm</div>
    <div class="md">yes<br>enjoy the "work"</div>
    <div class="mk">:D</div>
    <div class="md">he he</div>
    <div class="mk">"i will"</div>
    <div class="md">i see<br>think of me while i have my bath</div>
    <div class="mk">right dan see you later enjoy the "non-work"</div>
    <div class="t">12.27pm</div>
    <div class="mk">ha ha</div>
    <div class="md">(i might work)</div>
    <div class="mk">(whatever)</div>
    <div class="md">bye x</div>
    <div class="mk">byex</div>
    <div class="end"></div>    


</div>


</section>


<section>
    <h2>Some photos you sent me once we were together</h2>
</section>


</body>
</html>