---
pageTitle: Links
eleventyNavigation:
  key: Links
  order: 7
stylesheets:
- links
---

{# timeline credit: https://www.cssscript.com/responsive-vertical-timeline/ #}

<div class="timeline">
  <ul>
    {% for item in links %}
      <li>
          <div class="date">{% if item.date != null %}<span>{{ item.date }}</span>{% endif %}</div>
          <div class="point"></div>
          <div class="content">
              <a href="{{ item.href }}">{{ item.name }}</a>
          </div>
      </li>
    {% endfor %}
  </ul>
</div>