---
layout: main
pageTitle: Links
eleventyNavigation:
  key: Links
  order: 7
stylesheets:
- links
---

{# timeline credit: https://www.cssscript.com/responsive-vertical-timeline/ #}

<div class="timeline">
  <ul>
    {% for item in [
      { date: 1987, href: "https://kestonprimary.org.uk/", name: "Keston Primary School" },
      { date: 1991, href: "https://www.canterbury-cathedral.org/", name: "Canterbury Cathedral" },
      { href: "https://www.stedmunds.org.uk/", name: "St Edmund's School, Canterbury" },
      { date: 1996, href: "https://www.trinity-school.org/", name: "Trinity School, Croydon" },
      { href: "http://www.trinityboyschoir.co.uk/", name: "Trinity Boys Choir" },
      { date: 1999, href: "https://www.croydonminster.org/", name: "Croydon Minster" },
      { date: 2001, href: "https://www.chelmsfordcathedral.org.uk/", name: "Chelmsford Cathedral" },
      { href: "https://www.hscs.org.uk/", name: "Hutton & Shenfield Choral Society" },
      { date: 2002, href: "https://www.corpus.cam.ac.uk/", name: "Corpus Christi College, Cambridge" },
      { date: 2005, href: "https://www.winchestercollege.org/", name: "Winchester College" },
      { href: "https://www.thepilgrims-school.co.uk/", name: "The Pilgrims' School, Winchester" },
      { href: "https://www.winchestermusicclub.org.uk/", name: "Winchester Music Club" },
      { href: "http://www.twyford-singers-hampshire.org.uk/", name: "Twyford Singers" },
      { date: 2006, href: "https://www.rochestercathedral.org/", name: "Rochester Cathedral" },
      { href: "https://www.rochesterchoral.co.uk/", name: "Rochester Choral Society" },
      { date: 2010, href: "https://holytrinit3.wixsite.com/holy-trinity-/home", name: "Dartford Parish Church" },
      { date: 2011, href: "https://www.stedscathedral.org", name: "St Edmundsbury Cathedral" },
      { date: 2016, href: "https://www.victoriaforms.co.uk/", name: "Victoria Forms" }
    ] %}
      <li>
          <div class="date">{% if item.date != null %}<span>{{ item.date }}</span>{% endif %}</div>
          <div class="point"></div>
          <div class="content">
              <a href="{{ item.href }}">{{ item.name }}</a>
          </div>
      </li>
    {% endfor %}
  </ul>
</div>