<section class="current-status">
  <h1>Current status</h1>
  <p>My status goes here</p>
  <p class="time">Time</p>
  <p class="history">I used to put my latest tweet here, but I&rsquo;m not paying for the Twitter API,
  so now you get content specifically written for this slot, updated each week!</p>
</section>