<section class="current-status">
  {% if nextEvent %}
    <h2>Next event</h2>
    {% set event = nextEvent %}
    {% set headingLevel = 3 %}
    {% include '../events/event.njk' %}
    <p class="history"><a href="/music/events/">See all events</a></p>
  {% else %}
    <h2>Events</h2>
    <p>Check back soon!</p>
    <p class="history"><a href="/music/events/">See past events</a></p>
  {% endif %}

  <h2>Stations</h2>
  {% if stationTotals %}
    <p>{{ stationTotals.visited }} of {{ stationTotals.total }} stations visited (<span class="percentage">{{ stationTotals.percentage }}%</span>).</p>
  {% endif %}
  {% if lastVisitedStation %}
    <p>Last ticked off: <span class="station-name">{{ lastVisitedStation.name }}</span>, {{ lastVisitedStation.firstTrip.date | dateObjectToShortDate }}.</p>
  {% endif %}
  <p class="history"><a href="/stations-progress/">See stations progress</a></p>
</section>
