<section class="current-status">
  <h1>Current status</h1>
  <p>It's been a while since I updated this status. Last week I was conducting Sanderstead Singers for a great week in Norwich. This week is a normal work week, then we have 4 days in Worcester for some stations and evensongs.</p>
  <p class="time">17 August 2023</p>
  <!--<p>I'm on the Isle of Wight! Trains, buses and Blackgang Chine.</p>
  <p class="time">30 July 2023</p>
  <p>Four days of work left until holiday on the Isle of Wight!</p>
  <p class="time">22 July 2023</p>
  <p>A bit late with my message this week. This weekend I'm converting some of my pedalboard from physical contacts to reed switches. Wish me luck!</p>
  <p class="time">15 July 2023</p>
  <p>Happy birthday to my lovely 7-year-old daughter!</p>
  <p class="time">5 July 2023</p>
  <p>Highs and lows over the last week.</p>
  <p class="time">28 June 2023</p>
  <p>A great week since my last update, getting several home tasks done, a fun choir practice last Saturday, and reaching 500 stations and 25% of England's stations. Looking forward to being the sole parent for the weekend.</p>
  <p class="time">21 June 2023</p>
  <p>Work is busy as ever. Looking forward to first rehearsal, on Saturday, with Sanderstead Singers for our summer week in Norwich.</p>
  <p class="time">14 June 2023</p>-->
  <p class="history">I used to put my latest tweet here, but I&rsquo;m not paying for the Twitter API,
  so now you get content specifically written for this slot, updated each week!</p>
</section>
