---
pageTitle: Apps
includeHighslide: true
eleventyNavigation:
  key: Apps
  parent: IT
  order: 3
---

<h2>Tap Metronome</h2>
<h2>Tap Metronome Plus</h2>
<p><img src="/images/apps/tap-metronome/AppIcon76x762x.png" alt="Tap Metronome Icon" width="100" height="100" class="float-right" />Tap Metronome is a simple metronome for those who want quick access to a reliable metronome.</p>
<p>Features:</p>
<ul>
<li>Three ways to choose tempo: tap the speed you want, select from the picker list or type the number (access by tapping on the white tempo on the iPhone).</li>
<li>Loud beeps: Volume as loud as possible to be audible above music. Visible volume control so you can increase it further.</li>
<li>Choose the number of beats in the bar (from 1 to 7).</li>
<li>Visible beat indicator.</li>
<li>Rotate the view for a Landscape version, so you can put the device on a music stand without covering the speaker.</li>
<li>Accurate: when I made this app, many of the free metronomes in the App Store were not accurate because they were based on old sample code provided by Apple, and over a number of seconds they get a beat out. This metronome is accurate for hours.</li>
<li>Add the Metronome as a Today View extension.</li>
<li>On Apple Watch: a simple independent metronome which quietly taps you on the beat. In addition, a Glance, and multiple Complications, allow you to see your current tempo and quickly access the metronome app through them.</li>
<li>Use 3D Touch Quick Actions to start the metronome at multiple tempos directly from the Home Screen icon.</li>
</ul>
<p>For Tap Metronome Plus:</p>
<ul>
<li>No ads.</li>
<li>Choice of Beep, Drum, Clap and Metronome sounds, as well as pitched beeps to match your music.</li>
<li>Flash mode, which flashes the entire screen for each beat.</li>
</ul>
<p>Tap Metronome (free): <a href="https://itunes.apple.com/us/app/tap-metronome/id415940972?mt=8">iTunes store</a>.</p>
<p>Tap Metronome Plus (69p): <a href="https://itunes.apple.com/us/app/tap-metronome-plus/id470681215?mt=8">iTunes store</a>.</p>
<p>The metronome should just work, but if you have any queries, please <a href="/contact">contact</a> me.</p>
<p><em>Will there be Tap Metronome for any system other than iOS?<br /></em>Probably not!</p>
<p>&nbsp;</p>
<p>{% responsiveImage "images/apps/tap-metronome/Simulator_Screen_Shot_2_Feb_2016_22.08.27.png", "iPhone screenshot of Tap Metronome", "", 150 %}&nbsp;{% responsiveImage "images/apps/tap-metronome/Simulator_Screen_Shot_2_Feb_2016_22.08.33.png", "iPhone screenshot of Tap Metronome settings page", "", 150 %}&nbsp;{% responsiveImage "images/apps/tap-metronome/Simulator_Screen_Shot_2_Feb_2016_21.56.12.png", "iPad screenshot of Tap Metronome" %}&nbsp;{% responsiveImage "images/apps/tap-metronome/Simulator_Screen_Shot_9_Mar_2016_21.39.45.png", "Apple Watch screenshot of Tap Metronome", "", 100 %}
    
<p><em>Will you be making more apps?<br /></em>Maybe! I have a few ideas. But no time.</p>