---
pageTitle: IT
eleventyNavigation:
  key: IT
  order: 5
includeHighslide: true
---

<p>{% responsiveImage "images/decoration/somecode.png", "Some code for decoration", "float-right" %}For several years I wondered if I should follow a career in some form of IT; for one year I tried it on top of a part-time music career, but I decided to return to full-time Cathedral Music. After 10 years as a Cathedral musician, I decided that my long-term future was not there, and so I moved into the full-time Developer role at Victoria Forms. I still have several home hobby projects, and these are what are listed here.</p>
<ul>
  <li><a href="websites">Websites</a></li>
  <li><a href="projects">Projects</a></li>
  <li><a href="apps">Apps</a></li>
</ul>
<p>I&rsquo;m not looking for new projects at the moment, as I have a full-time job!</p>