---
pageTitle: Projects
includeHighslide: true
eleventyNavigation:
  key: Projects
  parent: IT
  order: 2
---

<h2>Choir Admin</h2>
<p>The choir admin system was written for Rochester Cathedral Music Department and was heavily used there until 2019. It was also ported for use at Dartford Parish Church.</p>
<p>Features:</p>
<ul>
    <li>Track absences for choirs (Voluntary Choir and Choral Scholars).</li>
    <li>Track availability for professional singers (Deputy Lay Clerks). This availability can then be used to book singers. The system emails the singers with their proposed bookings which they then confirm through the system.</li>
    <li>Report fees for singers per service, and provide monthly detail for the finance office.</li>
    <li>A basic system to record and compare budget/actual.</li>
    <li>A slot booking system, which was created to allow members to choose (re)audition slots.</li>
</ul>
<p>I have a long-term plan to re-build this system, and offer it to more Cathedral and church choirs, as it&rsquo;s clearly something that could be useful elsewhere. The problem is likely to be that each organisation will have a slightly different need. But eventually I&rsquo;d like to have made it flexible enough to work for all situations. If you&rsquo;d like to discuss the possibility of trying it out, please <a href="/contact">contact me</a>.</p>
<p>The first &ldquo;Choir Admin&rdquo; site I built was a very minor one for Croydon Parish Church 2000. Whilst at Cambridge (2002-5) I built a program so that choir members could sign up for free meals (see below) and this was the basis of the code when I started on Rochester&rsquo;s system in 2008.</p>
{% responsiveImage "images/choir-admin/editing-schedule.png", "Editing the schedule", "", 100 %}
{% responsiveImage "images/choir-admin/giving-availability.png", "Giving availability", "", 100 %}
{% responsiveImage "images/choir-admin/viewing-availability.png", "Viewing availability", "", 100 %}
{% responsiveImage "images/choir-admin/making-bookings.png", "Making bookings", "", 100 %}
{% responsiveImage "images/choir-admin/accepting-bookings.png", "Accepting bookings", "", 100 %}
{% responsiveImage "images/choir-admin/viewing-bookings.png", "Viewing bookings", "", 100 %}
{% responsiveImage "images/choir-admin/viewing-payments.png", "Viewing payments", "", 100 %}
{% responsiveImage "images/choir-admin/view-budgets.png", "View budgets", "", 100 %}
<h2>Cathedral Diary</h2>
<p>I built Chelmsford Cathedral&rsquo;s original diary system in 2003. It was a simple PHP program, which booking forms for Cathedral and Cathedral Centre bookings, with the ability to create invoices and information sheets for the events. After 15 years, the code was ready to be rebuilt, and this was completed in 2018 using Laravel, with an Angular front end. In due course, I may look to expand to more Cathedrals. Please <a href="/contact">contact</a> me if you would be interested in hearing about this.</p>
<h2>Psalms</h2>
<p><a href="https://www.pointedpsalms.co.uk">https://www.pointedpsalms.co.uk</a> is a project which provides psalms pointed for anglican chant, allowing you to choose preferences and chants. It has sadly never been finished to a suitable standard so it&rsquo;s just sitting there being used by about 5 people. It asks you a few questions about the psalm you want to create, what sort of preferences you have about pointing, gives you a large database of changes to choose from (and the ability to add more) then it creates a word document with the psalm/chant/pointing. I was going to rebuild it into a PC program (rather than a web program), but there were so many directions I could go that I never got very far. I hope to one day inject some life into the web program and make it available to more people.</p>