---
layout: main
stylesheets:
 - templates/ds-2011/css/blog
---

{{ content | safe }}

<div class="small">Published: <time class="postlist-date" datetime="{{ date | dateObjectToYmdHyphen }}">{{ date | dateObjectToShortDate }}</time></div>

<ul class="tags">
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/blog/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
    {%- endfor %}
</ul>

{%- if collections.blog %}
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.pageTitle }}</a></li>{% endif %}
  <li><a href="/blog/posts">All posts</a></li>
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.pageTitle }}</a></li>{% endif %}
</ul>
{%- endif %}

<hr>

<small>Please feel free to leave a comment: you&rsquo;ll need to log into GitHub first.</small>

<script src="https://utteranc.es/client.js"
        repo="dansoper/ds-website-comments"
        issue-term="pathname"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>