<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" media="all" href="/templates/ds-2011/css/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
	<link href="/templates/ds-2011/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
	<title>{% if pageTitle %}{{ pageTitle }} - Dan Soper{% else %}Dan Soper{% endif %}</title>
</head>

<body>
	<div id="content">
		<div id="masthead">
			{% include '../_widgets/hymn-tunes/today.njk' %}

			<img id="masthead-name" src="/templates/ds-2011/images/mastheadbottomleft.png" alt="Dan Soper" />
			<img id="masthead-face" src="/templates/ds-2011/images/mastheadright.png" alt="Dan Soper" />
		</div>
		<nav>
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
		</nav>
        <article>
			{% if pageTitle %}<h2>{{ pageTitle }}</h2>{% endif %}
            {{ content | safe }}
		</article>
		<aside>
            {% include '../_widgets/twitter/last-tweet.njk' %}
		</aside>
		<footer>Copyright © Dan Soper {% year %} | <a href="/contact">Contact</a></footer>
	</div>
</body>

</html>