---
stylesheets:
 - templates/ds-2011/css/layout
 - templates/ds-2011/css/twitter
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/templates/ds-2011/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
	<title>{% if pageTitle %}{{ pageTitle }} - Dan Soper{% else %}Dan Soper{% endif %}</title>
	{% set css %}{% for st in stylesheets | unique %}{% include st + ".css" %}{% endfor %}{% endset %}{# capture the CSS content as a Nunjucks variable then feed it through css in filter to minify #}
	<style>
	{{ css | cssmin | safe }}
	</style>
</head>

<body>
	<div id="content">
		<header>
			{% include '../_widgets/hymn-tunes/today.njk' %}
			<img id="masthead-name" src="/templates/ds-2011/images/mastheadbottomleft.png" alt="Dan Soper" />
			<img id="masthead-face" src="/templates/ds-2011/images/mastheadright.png" alt="Dan Soper" />
		</header>
		<nav>
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
		</nav>
        <main>
			{% if pageTitle %}<h1>{{ pageTitle }}</h1>{% endif %}
            {{ content | safe }}
		</main>
		<aside>
            {% include '../_widgets/current-status/current-status.njk' %}
		</aside>
		<footer>Copyright © Dan Soper {% year %} | <a href="/contact">Contact</a></footer>
	</div>
	{% if includeHighslide == true %}
		<script src="/lib/highslide/highslide.js"></script>
		<script>
			hs.graphicsDir = '/lib/highslide/graphics/';
			hs.showCredits = false;
			hs.align = "center";
			hs.outlineType = "rounded-white";
		</script>
	{% endif %}

</body>

</html>