---
layout: wedding
pageTitle: Companies
---

<p>We were delighted with our day and all the companies who provided the various parts of it. We would happily recommend any of the following.</p>
<table class="rowspacing" style="height: 73px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;<a href="https://www.stedscathedral.org/"><img src="/images/wedding/logo-cathedral.png" alt="logo-cathedral" /></a></td>
<td class="fixcol">&nbsp;</td>
<td>The service took place at <strong>St Edmundsbury Cathedral</strong>. As Dan worked there, this was obviously a Cathedral-family service, with the Cathedral Choir (directed by James Thomas) and four of the clergy taking part. The flower pedestals in the Cathedral were provided by Susan Cockram.</td>
</tr>
<tr>
<td>&nbsp;<img src="/images/wedding/logo-athenaeum.png" alt="logo-athenaeum" /></td>
<td><strong>&nbsp; &nbsp;</strong></td>
<td><strong>The Athenaeum</strong> was the venue for our Reception. We used the lounge and reading room upstairs for drinks at the start (and quiet room during the dancing) and had our meal in the Ballroom.</td>
</tr>
<tr>
<td>&nbsp;<a href="http://www.sodexoprestige.co.uk/"><img src="/images/wedding/logo-sodexo.png" alt="logo-sodexo" /></a></td>
<td>&nbsp;</td>
<td><strong>Sodexo Prestige</strong> run the Athenaeum and, as well as doing all of the reception arrangements, provided the delicious food.</td>
</tr>
<tr>
<td>&nbsp;<img src="/images/wedding/logo-ag-photography.png" alt="logo-ag-photography" /></td>
<td>&nbsp;</td>
<td><strong>A&amp;G Wedding Photography</strong> took the official photos during the service, and then some group shots afterwards.</td>
</tr>
<tr>
<td><img src="/images/wedding/logo-infinity-digipix.png" alt="logo-infinity-digipix" /></td>
<td>&nbsp;</td>
<td><strong>Infinity Digipix</strong> provided us with 20 hired digital cameras. The cameras arrived the week before the wedding, had been customised with our branding, and came with an easy-to-return parcel label so we could post them back the day after the wedding.</td>
</tr>
<tr>
<td><img src="/images/wedding/logo-wedpics.png" alt="logo-wedpics" /></td>
<td>&nbsp;</td>
<td><strong>WedPics&nbsp;</strong>is a free website / app which allowed our guests to share high-res photos with each other.</td>
</tr>
<tr>
<td><img src="/images/wedding/logo-efms.png" alt="logo-efms" /></td>
<td>&nbsp;</td>
<td><strong>Eastern Facilities Management Solutions</strong> print most of the Cathedral's Orders of Service, and printed ours.</td>
</tr>
<tr>
<td><a href="http://www.kallkwikburystedmunds.co.uk/"><img src="/images/wedding/logo-kallkwik.png" alt="logo-kallkwik" /></a></td>
<td>&nbsp;</td>
<td><strong>Kall Kwik Bury St Edmunds</strong> printed the Seating Plans and our menu cards.&nbsp;</td>
</tr>
<tr>
<td><a href="http://www.vistaprint.co.uk/"><img src="/images/wedding/logo-vistaprint.png" alt="logo-vistaprint" /></a></td>
<td>&nbsp;</td>
<td>&nbsp;We used <strong>Vistaprint UK</strong> to produce personalised pens, and for our photo book.</td>
</tr>
<tr>
<td><a href="http://www.richardmark.co.uk/"><img src="/images/wedding/logo-richard-mark.png" alt="logo-richard-mark" /></a></td>
<td>&nbsp;</td>
<td>The male attire was hired from <strong>Richard Mark Menswear</strong>.&nbsp;</td>
</tr>
<tr>
<td><a href="http://www.bhs.co.uk/"><img src="/images/wedding/logo-bhs.png" alt="logo-bhs" /></a></td>
<td>&nbsp;</td>
<td>The dress was bought from <strong>BHS</strong>.</td>
</tr>
<tr>
<td><img src="/images/wedding/logo-debenhams.png" alt="logo-debenhams" /></td>
<td>&nbsp;</td>
<td>The bridesmaids' dresses were from the&nbsp;Début range at <strong>Debenhams</strong>.</td>
</tr>
<tr>
<td><img src="/images/wedding/logo-studio.png" alt="logo-studio" /></td>
<td>&nbsp;</td>
<td><strong>The Studio</strong> in Bury St Edmunds did the female hair styling on the morning of the wedding.</td>
</tr>
<tr>
<td>
<p><a href="http://www.boots.com/en/No-7/"><img src="/images/wedding/logo-boots.png" alt="logo-boots" width="70" height="42" /><img src="/images/wedding/logo-no7.png" alt="logo-no7" width="70" height="48" style="margin-left: 5px;" /></a></p>
</td>
<td>&nbsp;</td>
<td>Lisa at <strong>No 7 in Boots</strong> did the Bride's makeover.&nbsp;</td>
</tr>
</tbody>
</table>
<p>Thanks also to:</p>
<p>- Susan Stafford for the gorgeous flowers in the Athenaeum, the bouquets and buttonholes.<br />- Janet Beddus for the delicious and spectacular-looking cake.<br />- Ruth Fox for the sugar-paste flowers on the cake.<br />- Liz Beddus for the logo design.<br />- Philip White-Jones for playing the organ.</p>
<p>And to everybody else who helped with the arrangements for the day.</p>