---
layout: wedding
pageTitle: Welcome
---
<p>Welcome to our wedding website.</p>
<p><img src="/images/wedding/d-and-k.png" alt="d-and-k" style="float: right;" /></p>
<p>Our wedding was on <strong>Saturday 5th April 2014 </strong>and this website now stays here to keep the memories alive. The guest list, menu and service are all on the <a href="/wedding/timetable-details">Timetable &amp; Details</a> page. The <a href="/wedding/photos">Photos</a> section links to the WedPics album - with over 800 photos, and the 308 official photos from the service and group shots.</p>
<p>We have also added a <a href="/wedding/companies">Companies</a> page which lists all the companies which helped to make our day so successful.</p>
<div class="small">Website archived: Saturday 25th October 2014 16:44</div>