---
layout: wedding
pageTitle: Jukebox
---
<p>We asked guests to suggest music in advance through this page, and we had do make some very difficult decisions in order to get the 5 hours of suggested music down to under 3 hours! Our playlist existed in several versions depending on how long the speeches / coffee took. The full playlist <a href="/images/wedding/playlist-full.pdf">can be read here</a>. The playlist we used on the night <a href="/images/wedding/playlist-actual.pdf">can be read here</a>.</p>