---
layout: wedding
pageTitle: Photos
---

<p>We used <strong>wedpics.com</strong> for sharing Wedding Photos. There we had 300+ photos that our guests added as well as 499 (of the 1021) photos taken on the hired digital cameras and the official photos from the service. WedPics is no longer live.</p>
<p>There was a professional photographer (<strong>A &amp; G Weddings</strong>) for the service and group shots. The website to buy images is no longer live.</p>