---
layout: wedding
pageTitle: Timetable & Details
---

<h3>Timetable for the Day</h3>
<p>2.30 pm Wedding at St Edmundsbury Cathedral</p>
<p><em>After the wedding, there were photographs (in the Cloister Garth) and then a gap where guests could do what they liked (ideas below).</em></p>
<p><a href="/images/wedding/order-of-service.pdf">You can read the order of service here.</a></p>
<p>6.00 pm Reception at the Athenaeum</p>
<p><em>We started with a drinks reception, moving onto a hot fork buffet at 7 pm. Once that and the speeches were over, an iPod provided music for the dancing. Two glasses of wine were provided with the meal, and there was also a bar available.</em></p>
<p><a href="/images/wedding/reception-card.pdf">You can read the menu and timetable here.</a></p>
<p><a href="/images/wedding/seating_plan.pdf">You can see the seating plan here.</a></p>
<p>&nbsp;</p>
<h3>Things to do in Bury*</h3>
<p>Of course you might just want to pop back to the hotel to have a rest, but there are lots of things to do in Bury* in between the service and the reception!</p>
<p>Have a walk around the Abbey Gardens, including the ruins of the historic Abbey. Good place for little ones to let off steam, lots of ducks to feed, an aviary and a good playground.</p>
<p>Have a walk around Bury* centre. There is a nice mix of independent and chain shops. As you walk further from the Cathedral you will find the newer 'Arc' shopping area which has more chains.</p>
<p>There is a market in Bury* on a Saturday with fresh local produce and some other stalls.</p>
<p style="display: none;">As you may know, one of the main things Bury* is famous for (apart from the Silver spoon sugar factory) is its Greene King Brewery. We can arrange some private guided tours so if you would be interested please email us. They can only take 45 people in total, 3 groups of 15. No children under 12, not suitable for anyone with mobility issues and please bring flat shoes as there are 100 stairs in the tour! Here is a link to the brewery website <a href="https://www.greenekingshop.co.uk/brewery-tours/">https://www.greenekingshop.co.uk/brewery-tours/</a>.</p>
<p>Moyse's Hall Museum is a good little place with dressing up potential.</p>
<p>Visit The Nutshell, Britain's smallest pub (if there is space!).</p>
<h3>&nbsp;</h3>
<h3>Good places for lunch/snacks</h3>
<p><strong>The Lounge</strong>. Reasonably priced and tasty panini. Family friendly.<br />2 Hatter St, Bury St Edmunds, Suffolk IP33 1LZ</p>
<p><strong>Really Rather Good</strong>. Excellent coffee, big range of teas and good cakes. Small so not pushchair-friendly.<br /><a href="http://www.rrgood.co.uk">http://www.rrgood.co.uk</a></p>
<p><strong>Cathedral Refectory</strong>. Try a cheese scone.</p>
<p><strong>The Bay Tree</strong>. Lovely lunches, 2 floors<br /><a href="http://www.thebaytreebury.co.uk">http://www.thebaytreebury.co.uk</a></p>
<p><strong>Baileys 2</strong>. Lovely cakes and sandwiches.<br /><a href="http://www.baileys2.co.uk">http://www.baileys2.co.uk</a></p>
<p>Plus lots of others and the usual (Caffe Nero, Costa x 2, Starbucks, Greggs)</p>
<p><em>* throughout this page, please read Bury as Bury St Edmunds. Do not go to Greater Manchester</em></p>