---
layout: wedding
pageTitle: The Wedding Party
---

<p><em>Bridegroom<br /></em>Daniel Soper</p>
<p><em>Bride<br /></em>Katherine Beddus</p>
<p><em>Parents<br /></em>Robert &amp; Lynette Soper<br />Susan Soper<br />Jonathan &amp; Janet Beddus</p>
<p><em>Best Man<br /></em>Scott Farrell</p>
<p><em>Bridesmaids</em><br />Ruth Fox<br />Elizabeth Beddus</p>
<p><em>Ushers<br /></em>Michael Soper<br />Graham Soper</p>