---
permalink: advent-christmas-2017/
pageTitle: Is it Advent / Christmas 2017
---

<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>Advent</td>
<td>Christmas</td>
</tr>
<tr>
<td>Dec 1</td>
<td>No</td>
<td>No</td>
</tr>
<tr>
<td>Dec 2</td>
<td>No</td>
<td>No</td>
</tr>
<tr>
<td>Dec 3</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 4</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 5</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 6</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 7</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 8</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 9</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 10</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 11</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 12</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 13</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 14</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 15</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 16</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 17</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 18</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 19</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 20</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 21</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 22</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 23</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Dec 24</td>
<td>Yes</td>
<td>Nearly</td>
</tr>
<tr>
<td>Dec 25</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 26</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 27</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 28</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 29</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 30</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Dec 31</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 1</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 2</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 3</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 4</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 5</td>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<td>Jan 6</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 7</td>
<td>
<p>No</p>
</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 8</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 9</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 10</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 11</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 12</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 13</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 14</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 15</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 16</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 17</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 18</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 19</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 20</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 21</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 22</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 23</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 24</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 25</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 26</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 27</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 28</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 29</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 30</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Jan 31</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Feb 1</td>
<td>No</td>
<td>Yes, or Epiphany</td>
</tr>
<tr>
<td>Feb 2</td>
<td>No</td>
<td>Yes, just</td>
</tr>
<tr>
<td>Feb 3</td>
<td>No</td>
<td>No</td>
</tr>
</tbody>
</table>