---
layout: main
pageTitle: Events
eleventyNavigation:
  key: Events
  parent: Music
  order: 1
stylesheets:
 - templates/ds-2011/css/grid
 - music/events
---

<h2 id="upcoming">Upcoming events</h3>
<small>(<a href="#archive">jump to archive events</a>)</small>

<div class="grid-group">
  {% for event in futureEvents %}
    {% include '../_widgets/events/event.njk' %}
  {% endfor %}
</div>

<h2 id="archive">Archive</h3>
<small>(<a href="#upcoming">return to upcoming events</a>)</small>

{% set headingLevel = 4 %}

{% for year in pastEvents %}
  <h3 id="{{ year.year }}">{{ year.year }}</h3>
  <small>Jump to: 
    {% for subYear in pastEvents %}{% if year.year != subYear.year %}<a href="#{{ subYear.year }}">{{ subYear.year }}</a> {% endif %}{% endfor %}
  </small>
  <div class="grid-group">
    {% for event in year.events %}
      {% include '../_widgets/events/event.njk' %}
    {% endfor %}
  </div>
{% endfor %}
