---
layout: main
pageTitle: Events
eleventyNavigation:
  key: Events
  parent: Music
---

<h3 id="upcoming">Upcoming events</h3>
<p class="small">(<a href="#archive">jump to archive events</a>)</p>

<div class="grid-group">
  {% for event in futureEvents %}
    {% include '../_widgets/events/event.njk' %}
  {% endfor %}
</div>

<h3 id="archive">Archive</h3>
<p class="small">(<a href="#upcoming">return to upcoming events</a>)</p>

{% for year in pastEvents %}
  <h4 id="{{ year.year }}">{{ year.year }}</h4>
  <p class="small">Jump to: 
    {% for subYear in pastEvents %}{% if year.year != subYear.year %}<a href="#{{ subYear.year }}">{{ subYear.year }}</a> {% endif %}{% endfor %}
  </p>
  <div class="grid-group">
    {% for event in year.events %}
      {% include '../_widgets/events/event.njk' %}
    {% endfor %}
  </div>
{% endfor %}
