.grid-group .event .title {
    font-weight: normal;
    font-size: var(--text-size-base);
    color: var(--color-teal);
    padding: 0;
}
.grid-group .event small {
    padding-left: 10px;
    display: block;
}
.grid-group .event .role, .grid-group .event .date {
    font-style: italic;
}

.grid-group .event .title ~ small {
    margin: 0;
}