---
pageTitle: Hymn Tune List
---

<p>I spent (or wasted) several hours preparing 54 different hymn tunes (normally the last few bars only) to appear in the top left of my website, each appropriate to the season or day. Below you can see when each different hymn tune will appear&mdash;but not which tune! If you wish, you could try and guess (or work out, when they appear, or cheat by looking on GitHub) which tune is used for each one. The first person to email me with the correct 54 tune names will win a mega prize (£15).</p>

{% include '../_widgets/hymn-tunes/list.njk' %}