---
pageTitle: Hymns that people get wrong
eleventyNavigation:
  key: Hymn Mistakes
  parent: Music
  order: 3
---

<p>Some hymns will be forever ruined for me because I know most of the congregation will sing them incorrectly. To try and calm down that anger inside me, I&rsquo;m displaying a list of errors here. Feel free to contribute by pointing me in the direction of errors that annoy you. This will be a work in progress for quite a long time, as I&rsquo;ll add them when I think of them. In a few cases, the &ldquo;wrong&rdquo; version may be found in some versions of hymn books, but I&rsquo;m an NEH man.</p>
<p>&nbsp;</p>
<h4>Glorious things of thee are spoken (Abbot&rsquo;s Leigh) <small>(thanks to SF)</small></h4>
<p><img src="/images/hymn-errors/abbots-leigh.png" alt="None but Sion's **Chil**-dren know." width="400" height="86" class="wide-image" /></p>
<h4>I danced in the morning <small>(thanks to MA)</small></h4>
<p><img src="/images/hymn-errors/lord-of-the-dance.png" alt="I am **the** Lord of the dance" width="400" height="90" class="wide-image" /></p>
<h4>O come, all ye faithful</h4>
<p><img src="/images/hymn-errors/o-come-all-ye-faithful.png" alt="Born the King of **a**-ngels" width="400" height="88" class="wide-image" /></p>
<h4>Thine be the glory</h4>
<p><img src="/images/hymn-errors/thine-be-the-glory.png" alt="Thou **o'er** death hast won." width="400" height="88" class="wide-image" /></p>