---
eleventyNavigation:
  key: Music
  order: 4
pageTitle: Music
---

<p><img src="/images/decoration/bit-of-music.png" alt="Some music for decoration" width="200" height="194" class="float-right" />This website is a collections of resources, thoughts, and events.</p>
<h2>Resources</h2>
<p>Since I was a chorister at Canterbury, I&rsquo;ve loved the idea of composing: some of what I have written isn't too bad and so I&rsquo;ve decided to put a list on the website, along with PDFs of those that aren&rsquo;t rubbish.</p>
<h2>Thoughts</h2>
<p>I&rsquo;ve been struck for a long time about the high number of hymns that congregations get &ldquo;wrong&rdquo;&mdash;probably starting off with the passing note in <em>O come, all ye faithful</em>. I&rsquo;ve decided to build up a list on this site of all the errors I&rsquo;ve heard. If you are a member of a congregation that gets these wrong, you could try your hardest to correct your error. If you are a member of a choir, or a director/organist, you can join in by suggesting others...</p>
<p>I also love psalms. Having spent much of my life performing them, listening to them, typing them out or writing a program to produce them, I can safely say that my life would not be complete without them. As the opportunity to produce my own choice of chants for a Cathedral or Church will never happen, I decided to gradually put together my &lsquo;ideal&rsquo; chant book here. Obviously I&rsquo;ve stolen most of the ideas from places I&rsquo;ve worked. Feel free to steal ideas if you wish.</p>
<h2>Events</h2>
<p>I wasted hours looking through my past diaries to put together a list of all past events of note. So now I won&rsquo;t forget the date I was made into a Chorister, or the date I started at Winchester College etc. On this page I have also listed forthcoming events.</p>
<h2>Seasonal Hymn Tunes</h2>
<p>Have you noticed the hymn tune in the top left of this website? Have you worked out what the tune is? Have you worked out why that tune is appropriate to today (or this season)? Well, there are 54 different tunes that will appear on different days. <a href="/music/hymn-tune-list">Here you can see the list of the seasons/festivals</a> so you know when to come back and find the next tune.</p>