---
pageTitle: A disclaimer about my blog posts on Cathedrals
date: 2019-11-18
tags:
 - Disclaimers
---

<p>Having been an Assistant Director of Music for nearly 5 years at both <a href="https://www.rochestercathedral.org">Rochester</a> and <a href="https://www.stedscathedral.org">St Edmundsbury</a> Cathedrals, as well as Organ Scholar at <a href="https://www.chelmsfordcathedral.org.uk">Chelmsford</a>, chorister at <a href="https://www.canterbury-cathedral.org">Canterbury</a>, and an assistant at <a href="https://www.thepilgrims-school.co.uk">The Pilgrims’ School</a>, Winchester, I do have some insight into how Cathedrals work. But my opinions are clearly only based on a small part of the big picture, and in some cases my take on things may not be the popular opinion. I welcome comments in agreement and disagreement and welcome corrections to any incorrect facts.</p>
<p>While I was in the Cathedral Music world, I did get annoyed by external people expressing opinions about how things were done, and I’m aware I’ve now unfortunately become one of those people! Sorry to those annoyed by my opinions.</p>