---
pageTitle: Should we use Common Worship for Evensong?
includeHighslide: true
date: 2020-05-31
stylesheets:
 - templates/ds-2011/css/table
tags:
 - Change
 - Cathedrals
 - Liturgy
---

<p>{% responsiveImage "images/blogs/2020/cw-book.jpg", "Common Worship Daily Prayer and Book of Common Prayer", "float-right" %}Do make sure you check out my <a href="/blog/a-disclaimer-about-my-blog-posts-on-cathedrals">disclaimer</a>!</p>
<p>Right now, it&rsquo;s a sad thought that Choral Evensong is not taking place anywhere. It&rsquo;s even sadder that it might be quite a while before choral singing is allowed and/or sensible. But the hope is that one day Choral Evensong will return; I&rsquo;m wondering whether now is the time (for some places at least) to take a step back and decide that Choral Evensong should attempt to follow the order and (to some extent) language of Common Worship Daily Prayer instead of the Book of Common Prayer.</p>
<p>This is clearly a controversial idea, but here are some reasons why I think it might be the right choice.</p>
<ul>
<li>For spoken services, CW Daily Prayer is increasingly used—the live-streamed spoken services from several (but not all) Cathedrals demonstrate this. It makes sense to me to <span class="highlight">use the same order</span> whether the service is sung or said. Using different orders depending on whether or not the music department is involved only increases the apparent (to me) division between clergy and musicians; using the same order in all cases might <em>help</em> unite them.</li>
<li>CW Daily Prayer is a brilliant book with lots of <span class="highlight">well-crafted liturgy</span>. I&rsquo;ll probably write another blog post about it one day, but, some important points:
<ul>
<li>There are several <span class="highlight">different orders</span>—for Ordinary time there are different orders for each day of the week; there are 9 different orders for Seasonal time. This provides different texts to colour the seasons or days, but at the core is the same service, with various elements that are compulsory (e.g. the Magnificat). In the book, these are indicated with vertical lines in the left margin.</li>
<li>There is a huge amount of optional material: prayers, responses, canticles. Some of this is <span class="highlight">crying out to be set to music</span> and sung.</li>
<li>There are clear guidelines which set out the “rules” but overall there&rsquo;s a huge amount of <span class="highlight">flexibility</span> such that it wouldn&rsquo;t be too hard to fit music from a BCP Evensong into the CW service.</li>
<li>(One argument against all this variety is that it is quite overwhelming to a newcomer: there are so many choices to make and, if you use the book, you really need to know your way around it.)</li>
</ul>
</li>
<li>By moving to CW, BCP settings would still be possible, but it <span class="highlight">opens the door</span> to the option of setting music to new texts—either the new translations of the Mag and Nunc, or new responses.</li>
<li>Common Worship will be <span class="highlight">20 years old</span> this Advent (although Daily Prayer came a little bit later), and thus is the longest-serving alternative to BCP; for the Eucharist, it has generally been accepted as the norm.</li>
<li>To a newcomer, the language of BCP Evensong is <span class="highlight">archaic</span>. Although we consider this part of its beauty, it wasn&rsquo;t designed to be this way—it was translated so that it could be easily understood. <em>[Update: Some on Twitter have pointed out that BCP <strong>was</strong> designed to sound antiquated from the start]</em></li>
</ul>
<p>In order to be embraced by church leadership as a core part of the church&rsquo;s worship (rather than a sort of museum piece upholding a tradition), I think choral foundations would benefit from embracing the modern church liturgy and be part of what the church wants to be nowadays.</p>
<p>Obviously, a large number of people will read this and wonder if I&rsquo;ve gone mad, or wonder if I&rsquo;m serious. I did a Twitter poll a few weeks ago, and 81% of the respondents wanted to stick to BCP. I respect that my opinion may be an unpopular one—but of that 81%, I wonder how many chose BCP because they&rsquo;ve experienced CW and prefer BCP, and how many chose BCP because they simply don&rsquo;t want to change.</p>
<p>I'm aware that this idea has flaws:</p>
<ul>
<li>With the number of seasonal variants, things could get quite <span class="highlight">confusing</span>. This is easy if you&rsquo;re using the Daily Prayer book, and even easier if you are using the app or website. But, for the musicians, using the book or app isn&rsquo;t going to be as easy (after all, for BCP, most of us just do the order from memory).</li>
<li>If we go down this route, it&rsquo;s unlikely that all Cathedrals will adopt the same order and options—this variety would make things <span class="highlight">harder for visiting choirs and organists</span>.</li>
<li>I know several people will feel strongly that the <span class="highlight">language in BCP is much better</span> than CW. For some reason, singing in modern English can sound more crass (for want of a better word) than more traditional translations.</li>
<li>If we lose traditional Choral Evensong, will we <span class="highlight">lose traditional choirs</span>?</li>
<li>BCP is the only permanent authorised liturgical resource—Common Worship is only <span class="highlight">temporary</span>, so perhaps it isn&rsquo;t worth the effort of moving to it.</li>
</ul>
<h2>What&rsquo;s wrong with BCP?</h2>
<p>Much as I love BCP Evensong, in my opinion I believe that it has one flaw: the <span class="highlight">anthem is in the wrong place</span>! After the creed, the (sung) responses start off a time of prayer. There are spoken prayers after this, but these two prayer sections are split up by the anthem. If the anthem is prayerful, that&rsquo;s fine, but most are not, and they interrupt the time of prayer. I often feel that the spoken prayers are too long (4 minutes is perfect for me; I often experience over double this length), and I think this is because those leading the prayers don&rsquo;t consider the preceding responses (which last about 6 minutes) as part of the time of prayer.</p>
<h2>What&rsquo;s different with CW?</h2>
<p>With CW Evening Prayer, the service is restructured so that the first canticle is optional and can vary, but the second canticle is fixed and is the Magnificat. The Magnificat is the climax of the service, after which there are prayers, ending with the Lord&rsquo;s Prayer. There isn&rsquo;t a specific place for the anthem, but several options as to where it could be placed.</p>
<p>Putting the Mag as the second canticle is problematic for the existing Mag and Nunc settings, which in most cases wouldn&rsquo;t work in reverse order! There&rsquo;s a solution to that (which also solves my problem about BCP), which is to put the Anthem as the first “Canticle”, then have the Mag as the second “Canticle”. The Nunc then can follow the prayers, just before the closing words. One reason this solution may not be perfect is that some may choose to sing responses etc. during the prayers, which will musically break up the Mag and Nunc.</p>
<p>{% responsiveImage "images/blogs/2020/cw-responsories.png", "CW Responsories", "float-right", 250 %}There&rsquo;s also a discussion to be had about the responses, both those at the start, and those during the prayers. The BCP ones would presumably be allowed within the flexibility of CW, but there&rsquo;s also an opportunity for new settings of a variety of texts. In CW there are a series of responsories that are used just before the Magnificat which would work well set to music, potentially sung by the choir and congregation.</p>
<p>This post isn&rsquo;t too concerned about the language of CW vs BCP—I have no problem with BCP psalms and canticles being sung in the context of a CW service; but I should note that I would be equally happy to hear the CW translations set to music.</p>
<h2>Where to go from here</h2>
<p>Thank you if you have read this far. If you think my opinions are worth sharing, do please feel free to do so. In addition, comments for or against are welcome below. I have no power to actually enact any of these thoughts, but I&rsquo;m writing them down just in case there are others who think the same.</p>
<h2>The detail</h2>
<p>Below is a table summary of the order of BCP, compared with CW, with just a few options on how you might fit BCP settings into a CW order. It may be that some places will do different variants on different days, maybe based on which settings are in use; it may be that some will keep BCP on Sundays and introduce CW on weekdays. If you are interested in more detail on my thoughts, please <a href="/images/blogs/2020/cw-detail.pdf">see this document</a>.</p>
<table class="bordered">
<tbody>
<tr><th colspan="1" rowspan="1">BCP</th><th colspan="1" rowspan="1">CW with BCP</th><th colspan="1" rowspan="1">CW</th></tr>
<tr>
<td colspan="1" rowspan="1">&nbsp;</td>
<td colspan="2" rowspan="1"><strong>¶ Preparation</strong></td>
</tr>
<tr>
<td colspan="1" rowspan="1">“O Lord, open thou our lips” <br /><em>to</em> <br />“The Lord's Name be praised.”</td>
<td colspan="1" rowspan="1">“O Lord, open thou our lips” <br /><em>to</em> <br />“The Lord's Name be praised.”</td>
<td colspan="1" rowspan="1">“O God, make speed to save us” <br />(Seasonal response) <br />Prayer of thanksgiving <br />“Blessed be God for ever”</td>
</tr>
<tr>
<td colspan="1" rowspan="2">&nbsp;</td>
<td colspan="2" rowspan="1">Spoken prayer (“That this evening may be holy…”)</td>
</tr>
<tr>
<td colspan="2" rowspan="1"><strong>¶ The Word of God</strong></td>
</tr>
<tr>
<td colspan="3" rowspan="1">Psalmody</td>
</tr>
<tr>
<td colspan="3" rowspan="1">OT reading</td>
</tr>
<tr>
<td colspan="1" rowspan="1">Magnificat</td>
<td colspan="2" rowspan="1">Anthem, or Magnificat</td>
</tr>
<tr>
<td colspan="3" rowspan="1">NT reading</td>
</tr>
<tr>
<td colspan="1" rowspan="1">&nbsp;</td>
<td colspan="2" rowspan="1">Responsory</td>
</tr>
<tr>
<td colspan="1" rowspan="1">Nunc Dimittis</td>
<td colspan="2" rowspan="1">Magnificat, or Nunc Dimittis</td>
</tr>
<tr>
<td colspan="1" rowspan="1">Creed</td>
<td colspan="2" rowspan="1">&nbsp;</td>
</tr>
<tr>
<td colspan="1" rowspan="1">&nbsp;</td>
<td colspan="2" rowspan="1"><strong>¶ Prayers</strong></td>
</tr>
<tr>
<td colspan="1" rowspan="1"><em>Sung:</em> <br />“The Lord be with you” <br />The Lord&rsquo;s Prayer <br />“O Lord, shew thy mercy upon us.” <br />Collects</td>
<td colspan="1" rowspan="1"><em>Sung:</em> <br />“The Lord be with you” <br />The Lord&rsquo;s Prayer <br />“O Lord, shew thy mercy upon us.” <br />Collects</td>
<td colspan="1" rowspan="1"><em>Spoken:</em> <br />Prayers</td>
</tr>
<tr>
<td colspan="1" rowspan="1">Anthem</td>
<td colspan="1" rowspan="1"><em>Spoken:</em> <br />Prayers <br />Grace</td>
<td colspan="1" rowspan="1"><em>Sung:</em> <br />Litany <br />Collect <br />The Lord&rsquo;s Prayer</td>
</tr>
<tr>
<td colspan="1" rowspan="1"><em>Spoken:</em><br />Prayers <br />Grace</td>
<td colspan="2" rowspan="1">&nbsp;</td>
</tr>
<tr>
<td colspan="1" rowspan="3">&nbsp;</td>
<td colspan="2" rowspan="1"><strong>¶ The Conclusion</strong></td>
</tr>
<tr>
<td colspan="2" rowspan="1">Nunc Dimittis, or Anthem</td>
</tr>
<tr>
<td colspan="2" rowspan="1">Closing spoken responses</td>
</tr>
</tbody>
</table>
<h2>New musical settings</h2>
<p>Here are some of the things that could be set to music:</p>
<ul>
<li><span class="highlight">Canticles</span>: There are 87 of these: <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/canticles-daily-prayer">see here</a>. Some of these are suggested for certain seasons (e.g. in <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/morning-and-evening#p271">Easter</a>, Canticles <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/canticles-daily-prayer/60-song-gods-grace">60</a>, <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/canticles-daily-prayer/65-song-faith">65</a> or <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/canticles-daily-prayer/74-song-heavenly-city">74</a>&nbsp;are suggested).</li>
<li><span class="highlight">Responsories</span>: There are several different versions of this. These short responsories precede the second canticle (Magnificat). These have a similar feel to the <em>Into thy hands, O Lord, I commend my spirit</em> which you may have sung in Compline. Here are <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/morning-and-evening#p223">two</a> <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/morning-and-evening#p247">examples</a>.&nbsp; I had a go at setting these to some chant-like music: you can <a href="/images/blogs/2020/cw-responsories.pdf">see these here</a>.</li>
<li><span class="highlight">Opening responses</span>: Whilst in BCP there are 4 responses, in CW there&rsquo;s only a single response, which is supplemented by a further one in seasonal time (e.g. <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/morning-and-evening#mm008e7d">this one for Christmas</a>). Even with 2 responses, this makes it hard to have a musical balance. I&rsquo;d like to suggest that the Thanksgiving prayers which can optionally follow could also be set to music—they all contain a phrase like “To you be praise and glory for ever” which could be set to music, and end with “Blessed be God for ever” which could likewise. I&rsquo;ve put together a sample on how the opening responses could be <a href="/images/blogs/2020/cw-responses.pdf">performed here</a>. This sample uses a few hymn tunes as the base.&nbsp;</li>
<li><span class="highlight">Second set of responses</span>: These don&rsquo;t actually exist in CW, and many will feel that you could go without them. But there are a set of “<a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/prayers#mm10d8">litanies</a>” which may be used as responses which could be used here. These are numbered 31 to 36, and 32 is clearly the modern equivalent of the BCP responses. The Lord&rsquo;s Prayer and collect could be included here, or just spoken.</li>
<li>{% responsiveImage "images/blogs/2020/cw-antiphons.png", "CW Antiphons", "float-right", 250 %}<span class="highlight">Refrains</span>: One of the liturgical items I was glad to be part of introducing at St Edmundsbury Cathedral was a set of Magnificat Antiphons to be sung on feasts. The music for these was based on plainsong in Liber Usualis, and the words were all taken from the Refrains in CW Daily Prayer. There&rsquo;s a whole host of these refrains for Magnificats, all the canticles, all the Psalms, for a whole range of feasts. (<a href="/images/blogs/2020/cw-antiphons.pdf">Here are a few samples</a> of the antiphon settings we did at St Edmundsbury.)</li>
<li><span class="highlight">Psalm prayers</span>: Every psalm has a companion prayer (e.g. see <a href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/common-worship/daily-prayer/psalter/psalm-1">Psalm 1</a>). These could be set to music and sung after the psalm — perhaps on certain days or in certain seasons?</li>
</ul>
<h2>The end</h2>
<p>I don&rsquo;t have an exciting conclusion, but maybe some suggestions:</p>
<ul>
<li>If you are a composer, consider looking at these new texts and thinking about setting them to music.</li>
<li>If you are a precentor, or in charge of the church&rsquo;s liturgy, and you&rsquo;d like to do this, start the conversation with your musicians.</li>
<li>If you are a musician, give CW a chance!</li>
</ul>