---
pageTitle: New edition of the Stainer Crucifixion
includeHighslide: true
date: 2023-01-31
override:tags: ["Choirs"]
---

<p>There&rsquo;s a new edition of the Stainer Crucifixion! <a href="https://www.rscmshop.com/books/9780854023363/stainer-the-crucifixion--new-critical-edition">Buy it here</a>.</p>

<p class="sidenote">Full disclosure: I was involved in the typesetting of this, so this is clearly a biased blog post. That said, I&rsquo;ve not been asked to write this: I&rsquo;m writing it purely as I&rsquo;m proud of my part in it.</p>

<h2>Existing editions</h2>

<p>Until this year, the only legal edition of the Crucifixion in the UK was by Novello. There are 4 different Novello versions:</p>

<h3>Original</h3>

{% responsiveImage "images/blogs/2023/stainer-original.jpg", "Photo of original edition" %}

<p>The original edition was published in 1887. Instead of printing metronome marks at the start of each movement, a page was added at the start of the work detailing all the suggested markings. Aside from that, it basically matches the version you know.</p>

<h3>Revised</h3>

{% responsiveImage "images/blogs/2023/stainer-r.jpg", "Photo of revised edition" %}

<p>The &ldquo;Revised&rdquo; edition takes the exact same plates as the 1887, but corrects a few misprints (see below for my favourite misprint), adds a few missing dynamics and puts the metronome markings at the start of each movement. There are also a few word changes in the hymns, presumably at the direction of Sparrow Simpson. I don&rsquo;t know the date of this Revised edition for sure, but some believe it is 1915.</p>

<h3>Second Revised</h3>

{% responsiveImage "images/blogs/2023/stainer-rr.jpg", "Photo of second revised edition" %}

<p>Presumably the old plates had worn out, as at some point during the 20th century, the whole work was re-set. You can easily see that the Novello House style has been tweaked slightly, including straighter slurs. This version has no explanation, and still just refers to itself as the &ldquo;Revised&rdquo; edition. Surprisingly there are a couple of changes, presumed misprints, either wrong words, or notes or rhythm. There are also punctuation differences.</p>

<h3>New Novello</h3>

{% responsiveImage "images/blogs/2023/stainer-nn.jpg", "Photo of New Novello edition" %}

<p>Michael Pilkington put together a new edition as part of the &lsquo;New Novello&rsquo; series in 1998. I&rsquo;ve always liked this edition as the editor is from Old Coulsdon, where I grew up! This edition took us back to the first &lsquo;Revised&rsquo; edition, removing all the potential misprints mentioned above. It also, wrongly, stated that the metronome markings were added in the &ldquo;Revised&rdquo; edition. I know the metronome markings were present as a front page in the original edition&mdash;I went to the Cambridge University Library to see it for myself! Anything that was added in the Revised edition is added in editorial brackets, although there are some omissions here. There are a few tiny misprints in this edition, that really don&rsquo;t matter (&ldquo;it&rsquo;s&rdquo; instead of &ldquo;its&rdquo; and one instance of &ldquo;Him&rdquo; capitalised when it shouldn&rsquo;t be as it&rsquo;s not talking about Jesus!).</p>

<h2>So what&rsquo;s special about this new edition?</h2>

<p>Jeremy Dibble has put this edition together with reference to all the above editions, plus one that was licensed for use in the US, but most importantly with reference to the original manuscript, which has only recently become available.</p>

<p>In most cases, the edition matches the first &ldquo;Revised&rdquo; edition, but there is an extra verse in one of the hymns which was present in the manuscript but not the Novello editions. Jeremy has also added many performance markings, including slurs and organ registration suggestions. These are all marked editorially so you can tell what is Stainer and what isn&rsquo;t.</p>

<p>There are also pages of notes, putting the work in context and detailing all the variants, however minor, between all the editions.</p>

<p>The main reason I got involved with this edition is because I strongly believe in matching pagination between editions, so I can confirm the pagination in the RSCM edition matches the Novello editions.</p>

<h2>Should I buy it?</h2>

<p class="highlight">What sort of edition do you have right now?</p>

<ul>
    <li><b>No edition</b>: As I write this, it seems the &lsquo;New Novello&rsquo; is slightly more expensive than the RSCM edition, and it is also on back order (potentially not available until March?). So RSCM is the way to go anyway. Even if that wasn&rsquo;t true, the RSCM edition is the only one with pages of critical notes and clear editorial suggestions.</li>
    <li><b>Original edition</b>: If you really have an Original Edition, you should know you have something quite rare. You should get the new RSCM edition to sort out the early misprints, get the updated lyrics and get the metronome marks added to each movement.</li>
    <li><b>First revised edition</b>: The RSCM edition mainly matches this edition, so if you have this edition you may not need to &lsquo;upgrade&rsquo;. But upgrading will give you all the editorial additions and the extra hymn verse. (And, of course, the critical commentary.)</li>
    <li><b>Second revised edition</b>: This edition has several misprints and is not worthy. Replace it. (To be honest with you, the misprints are not in the choral parts, but it&rsquo;s still not great.)</li>
    <li><b>New Novello</b>: In this edition you don&rsquo;t have the extended critical commentary that RSCM provides. It&rsquo;s also harder to note what is editorial, as some of (what I believe are) Stainer&rsquo;s markings are marked as editorial.</li>
</ul>

<h2>My favourite misprint</h2>

<p>The original edition has this!</p>

{% responsiveImage "images/blogs/2023/stainer-bug.jpg", "Bug in the original edition, showing semibreves in the right hand rather than dotted minims" %}

<p>I&rsquo;d love to try a performance that includes the right-hand of the organ here…</p>

<h2>Are there any misprints in this new edition?</h2>

<p>I spent many lunchtimes at <a href="https://midgarcoffee.co.uk/">Midgar</a> proofreading it, so I really hope not. However I&rsquo;d be interested to know if you spot anything.</p>



