---
pageTitle: Observations on the Vivats in I was glad
includeHighslide: true
date: 2023-05-07
tags: 
 - Choirs
---

<p>What an experience it was to watch <em>I was glad</em> at the start of the coronation&mdash;having listened to the full programme of pre-service music, it was an excellent climax and gateway into the service itself&mdash;and with the new Vivats, timed to perfection, it was thrilling.</p>

<p>I was looking at all the different versions of the Vivats for each of the versions since 1902, and I noticed a few things. Just in case you hadn&rsquo;t noticed some of these, and are interested, here are my observations.</p>

<ol>
<li>Firstly, obviously the names change (and the rhythms and melodies with it). We all know that. <a href="/images/blogs/2023/vivats.pdf">Here&rsquo;s the full list of variants</a>.</li>
<li>As 1953 was just a Queen (rather than Queen then King), there&rsquo;s been a bit missing for the last 70 years&mdash;after the first trumpet fanfare, there was originally (and is now) a set of Vivats in G major for the Queen before the <span class="highlight">big chords</span> which take us up a tone. I&rsquo;m sure we all know that&mdash;and if we didn&rsquo;t previously know that, it was pretty obvious yesterday. <br>
    {% responsiveImage "images/blogs/2023/vivats-qk.jpg", "Vivats with Queen and King" %}
    {% responsiveImage "images/blogs/2023/vivats-q.jpg", "Vivats with Queen only" %}
</li>
<li>In the original 1902 version, there&rsquo;s an extra trumpet fanfare in A major&mdash;after the <span class="highlight">big chords</span> and before the King Vivats.<br>
    {% responsiveImage "images/blogs/2023/vivats-extra-fanfare.jpg", "Vivats extra fanfare" %}
</li>
<li>As well as changing the choir parts to fit the new names, the orchestral parts need changing too. In the 1911 full score (<a href="https://imslp.org/wiki/I_was_Glad_(Parry%2C_Charles_Hubert_Hastings)">full version here</a>) you can see the 1902 notes and 1911 notes for the new longer &ldquo;Rex&rdquo;.<br>
    {% responsiveImage "images/blogs/2023/vivats-orchestra.jpg", "Vivats full score excerpt" %}
</li>
<li>For some reason, the orchestral parts were <b>not</b> changed in 1953, so for 70 years we&rsquo;ve been hearing a mixture of versions&mdash;with the choir singing &ldquo;Vivat Regina&rdquo; and the orchestra playing the rhythm of &ldquo;Vivat Rex Georgius&rdquo;. You can just about hear the early F sharp <a href="https://youtu.be/N2FBBb14em8?t=235">here (YouTube)</a> (and I think I can hear it in the actual Coronation <a href="https://youtu.be/52NTjasbmgw?t=1582">here (YouTube)</a>).</li>
<li>So that means that now we have &ldquo;Rex Carolus&rdquo;, the orchestral parts are back in sync!</li>
<li>An interesting detail in the official vocal score for 2023 which Westminster Abbey released is that the (Rutter-arranged-from-the-full-score) piano reduction still contains the 1953 rhythm. Not sure if this is a misprint or a decision. (The original vocal scores just have a held chord.)<br>
    {% responsiveImage "images/blogs/2023/vivats-carolus.jpg", "Vivats 2023" %}
</li>
<li>A bit of an odd one: in 1937, the A major Vivats start a bar earlier&mdash;interrupting the <span class="highlight">big chords</span>. I thought it might be a misprint, but they also performed it like that (<a href="https://youtu.be/KH-5lrHbB8I?t=214">listen here (YouTube)</a>).<br>
    {% responsiveImage "images/blogs/2023/vivats-interrupt.jpg", "Vivats 1937" %}
</li>
<li>Bonus facts: 2023&rsquo;s Vivats were upgraded from <i>f</i> to <i>ff</i>. Until 1937, the second of each group of Vivats was typeset with a lowercase &lsquo;v&rsquo;! 2023 added &lsquo;colla voce&rsquo; to some rests, and 1902 had a fermata on one rest.</li>
</ol>

<p>Thanks to <a href="http://www.oremus.org/coronation/music/">this page on the Oremus website</a> for most of my research material, as well as the <a href="https://www.youtube.com/@ArchiveofRecordedChurchMusic">Archive of Recorded Church Music on YouTube</a>.</p>

<p>If you spot any errors, or have any more Vivat facts, do please let me know!</p>