---
pageTitle: My 2024 Rail targets
date: 2024-01-01
includeHighslide: true
tags: 
 - Stations
---

<p>In 2023, I got my total station count up to <span class="highlight">638</span>, competing <span class="highlight">Kent</span>, <span class="highlight">Norfolk</span> and <span class="highlight">Essex</span>, and travelling on 488 train journeys over 58 days.</p>

<p>My first station of the year was Cricklewood, and the last was Darnall.</p>

{% responsiveImage "images/blogs/2024/2023-stations/cricklewood.jpg", "Cricklewood" %}
{% responsiveImage "images/blogs/2024/2023-stations/darnall.jpg", "Darnall" %}


<p>During 2024, I would like to:</p>

<ul>
<li>Get total stations visited over <span class="highlight">900</span>. <em>(Of course, 1,000 would be nice but probably out of reach!)</em></li>
<li>Make sure I&rsquo;ve visited over <span class="highlight">50% of the stations in each London borough</span>.</li>
<li>Make sure I&rsquo;ve visited <span class="highlight">all of the stations in over 50% of the London boroughs</span>. <em>(Yes, this <b>is</b> different to the one above.)</em></li>
<li>Complete <span class="highlight">Cambridgeshire</span>. <em>(Easy, as I only have two left to do.)</em></li>
<li>Complete <span class="highlight">Rutland</span>. <em>(Easy, as it only has one.)</em></li>
<li>Complete <span class="highlight">another county</span>.</li>
<li>Ensure <span class="highlight">Bedfordshire</span> and <span class="highlight">Northamptonshire</span> are at least 50% complete.</li>
<li>All of England’s stations onto the website <span class="highlight">map</span>. <em>(This is more of a technical one: I just need to load all the counties into my spreadsheet and then onto the map.)</em></li>
</ul>

<p>Some highlights from this year&rsquo;s stations:</p>

{% responsiveImage "images/blogs/2024/2023-stations/batandball.jpg", "Bat and Ball" %}
{% responsiveImage "images/blogs/2024/2023-stations/battersby.jpg", "Battersby" %}
{% responsiveImage "images/blogs/2024/2023-stations/doleham.jpg", "Doleham" %}
{% responsiveImage "images/blogs/2024/2023-stations/downhammarket.jpg", "Downham Market" %}
{% responsiveImage "images/blogs/2024/2023-stations/greatmalvern.jpg", "Great Malvern" %}
{% responsiveImage "images/blogs/2024/2023-stations/harwichinternational.jpg", "Harwich International" %}
{% responsiveImage "images/blogs/2024/2023-stations/imperialwharf.jpg", "Imperial Wharf" %}
{% responsiveImage "images/blogs/2024/2023-stations/kenley.jpg", "Kenley" %}
{% responsiveImage "images/blogs/2024/2023-stations/lewes.jpg", "Lewes" %}
{% responsiveImage "images/blogs/2024/2023-stations/peartree.jpg", "Peartree" %}
{% responsiveImage "images/blogs/2024/2023-stations/purley.jpg", "Purley" %}
{% responsiveImage "images/blogs/2024/2023-stations/sleaford.jpg", "Sleaford" %}
{% responsiveImage "images/blogs/2024/2023-stations/tunbridgewells.jpg", "Tunbridge Wells" %}
{% responsiveImage "images/blogs/2024/2023-stations/whitby.jpg", "Whitby" %}
{% responsiveImage "images/blogs/2024/2023-stations/worcestershireparkway.jpg", "Worcestershire Parkway" %}
